<div class="homepage_wrapper">
  <div class="container">
    <h1>C4Media | InfoQ, QCon</h1>
    <h2>Accelerationg the software side of human progress.</h2>
    <h4>We help developer teams adopt new technology and best practices.</h4>
    <div class="link_pannel">
      <a href="https://www.infoq.com/about-infoq" target="_blank" class="link_pannel--item">
        <img src="assets/images/InfoQ.svg">
        <span>InfoQ Reader</span>
      </a>
      <a href="https://qconferences.com/" target="_blank" class="link_pannel--item">
        <img src="assets/images/qcon.svg">
    <span>QCon Attendee / <br>Speaker</span>
      </a>
      <a href="https://www.infoq.com/about-infoq" target="_blank" class="link_pannel--item">
        <img src="assets/images/icon-file.png">
        <span>QCon Exhibitor /<br> InfoQ Advertiser</span>
      </a>
      <a [routerLink]="['career']" class="link_pannel--item">
        <img src="assets/images/logo-black.png">
          <span>Careers</span>
      </a>

    </div>
    <span class="info_pannel">*please select some item</span>
  </div>
</div>
