<div class="top-nav">
<div class="container">
  <ul>
    <li><a href=""><i class="lnr lnr-arrow-left"></i>Back to home</a></li>
     <li><a href=""><i class="lnr lnr-earth"></i>About</a></li>
     <li><a href=""><i class="lnr lnr-envelope"></i>Contact</a></li>
  </ul>
  <span><i class="lnr lnr-envelope"></i>careers@c4media.com</span>
  </div>
</div>
<div class="container">
   <div class="navigation">
      <a href="/" class="logo">  <img src="assets/images/logo-black.png"></a>
      <ul>
         <li><a href="https://www.infoq.com/about-infoq" target="_blank">InfoQ Reader</a></li>
         <li><a href="https://qconferences.com/" target="_blank">IteQCon Attendee / Speakerm</a></li>
         <li class="active" ><a [routerLink]="['career']">Careers</a></li>
      </ul>
      <a href="" class="btn btn-navigation">Apply for job</a>
   </div>
</div>
