.navigation {
	padding-top: 40px;
	padding-bottom: 20px;
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 100px;
	@media only screen and (max-width: 867px) {
		display: block;
		padding-top: 15px;
		margin-bottom: 70px;
	}
	.btn {
		@media only screen and (max-width: 867px) {
			float: right;
		}
	}
	.btn-navigation{
		@media only screen and (max-width: 500px) {
			display: none;
		}
	}
	.logo {
		display: inline-block;
		@media only screen and (max-width: 867px) {
			float: left;


		}
		img {
			height: 40px;
				@media only screen and (max-width: 768px) {
					height: 34px;
				}
		}
	}
	ul {
		flex: 1;
		text-align: center;
		display: inline-block;
		font-family: 'Fira Sans', sans-serif;
		@media only screen and (max-width: 768px) {
			background: white;
			display: block;
			position: absolute;
			top: 23px;
			width: 100%;
			z-index: 100;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
		}
		li {
			padding: 0 20px;
			display: inline-block;
			font-weight: 500;
			font-size: 16px;
			@media only screen and (max-width: 768px) {
				display: block;
				width: 100%;
				padding: 20px;
			}
			a {
				color: black;
				&:hover {
					color: #256bb0;
				}
			}
		}
		li.active {
			a {
				color: #256bb0 !important;
			}
		}
	}
}

.top-nav {
	background: white;
	border-bottom: 1px solid #f2f2f2;
	text-align: left;
	span {
		padding: 10px 0;
		display: inline-block;
		float: right;
		font-size: 13px;
		color: #666;
		a{
			font-size: 13px;
			color: #666;
		}
		i {
			color: #256bb0;
			padding-right: 3px;
			font-size: 20px;
			line-height: 16px;
			vertical-align: sub;
		}
	}
	ul {
		float: left;
		flex: 1;
		text-align: right;
		display: inline-block;
		font-family: 'Fira Sans', sans-serif;
					@media only screen and (max-width: 768px) {
						li:first-child{
							display: none;
						}

					}
		li {
			display: inline-block;
			font-size: 14px;
			i {
				color: #256bb0;
				padding-right: 7px;
				font-size: 20px;
				line-height: 16px;
				vertical-align: sub;
			}
			a {
				color: #666;
				padding: 10px;
				display: inline-block;
				font-weight: 300;
				@media only screen and (max-width: 768px) {
					padding-left: 0;
				}
				&:hover {
					color: #256bb0;
				}

			}
		}
	}
}
.nav-toogle{
	display: none;
	@media only screen and (max-width: 867px) {
		display: inline-block;
	}
}
.desktop-nav{
	@media only screen and (max-width: 867px) {
		display: none !important;
	}
}
.nav-toogle{
	background: none;
    color: black;
    font-size: 30px;
    padding: 6px;
    margin-left: 20px;
}

.menu-trigger {
  position: relative;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 5px;
  background: #000;
  cursor: pointer;
  &:before,&:after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 5px;
    background: #000;
  }
  &:before {
    top: -7px;
  }
  &:after {
    bottom: -7px;
  }
}

nav[role="navigation"] {
  position: relative;
  top: 30px;
  li {
    list-style-type: none;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
