html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}


.container {
	@include outer-container(1200px);
	padding-left: 20px;
	padding-right: 20px;
}
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}
