<!-- Career page -->
<!-- START banner -->
<div class="banner">
   <navigation-component></navigation-component>
   <div class="container">
      <span class="line"></span>
      <h1 class="h1">Want to join us?</h1>
      <iframe class="video" src="https://player.vimeo.com/video/183832373?title=0&byline=0&portrait=0&sidedock=0"  height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
   </div>
</div>
<!-- END banner -->
<!-- START list of jobs in iFrame -->
<div class="container">
   <section class="text-center about-page">
      <h1 class="h1">List of jobs</h1>

      <iframe width="70%" height="800px" [src]="link | safe" frameborder="0"  onload='resizeIframe(this)'>
      </iframe>
   </section>
</div>
<!-- END list of jobs in iFrame -->
<!-- START About section -->
<div class="container">
   <section class="text-center about-page pt-0" id="jobs">
      <h1 class="h1">About C4Media</h1>
      <p>
         Software is changing the world. C4Media -provider of InfoQ.com and QCon conferences - is dedicated to serving the world-wide enterprise software development community with a place to track and facilitate change and innovation. All content published on the website and presented at the conferences is authored by industry practitioners. Our mission is to facilitate the spread of knowledge and innovation in the software developer community (since 2005).
      </p>
      <p>
         InfoQ is a practitioner-driven global community serving the information needs of development managers, technical team leads, software architects, and project managers. Every day we create and share content in 5 different languages by developers for developers. With a readership base of over 1,000,000 unique visitors per month reading content from 100 locally-based editors across the globe, we continue to build localized communities.
         QCon is a practitioner-driven conference designed for technical team leads, architects, and project managers who influence software innovation in their teams. QCon coferences are organized by InfoQ and they run 8 times/year in San Francisco, New York, London, Beijing, Shanghai, Tokyo, Sao Paulo, and Rio.
      </p>
      <div class="grid-images">
         <div class="grid-images_big">
            <img src="assets/images/img_team.jpg">
         </div>
         <div class="grid-images_big">
            <img src="assets/images/img_team2.jpg">
         </div>

      </div>
   </section>
</div>
<!-- END About section -->
<!-- START Section -->
<section class="grey-section">
   <div class="container">
      <h1 class="h1 text-center">Our core values</h1>
      <div class="title-icons">
         <div class="title-icons_item">
            <div class="icon">
               <i class="lnr lnr-checkmark-circle"></i>
            </div>
            <div class="content">
               <h3 class="h3">Accountability</h3>
               <p>Take ownership for results. We'll do what it takes to get things done and are very serious about our commitments.</p>
            </div>
         </div>
         <div class="title-icons_item">
            <div class="icon">
               <i class="lnr lnr-magic-wand"></i>
            </div>
            <div class="content">
               <h3 class="h3">Integrity</h3>
               <p>Honesty and trustworthiness. We publish content our readers can trust. We are being trustworthy with our readers.</p>
            </div>
         </div>
         <div class="title-icons_item">
            <div class="icon">
               <i class="lnr lnr-graduation-hat"></i>
            </div>
            <div class="content">
               <h3 class="h3">Mastery</h3>
               <p>We never stop learning and we strive to continually improve our selves, our processes, and our company.</p>
            </div>
         </div>
         <div class="title-icons_item">
            <div class="icon">
               <i class="lnr lnr-cog"></i>
            </div>
            <div class="content">
               <h3 class="h3">Service</h3>
               <p>The joy of serving others, we go above and beyond for our customers, for our readers, and for each other.</p>
            </div>
         </div>
         <div class="title-icons_item">
            <div class="icon">
               <i class="lnr lnr-license"></i>
            </div>
            <div class="content">
               <h3 class="h3">Transparency</h3>
               <p>Be transparent about process, status, expectations, your feelings, successes and failures.</p>
            </div>
         </div>
         <div class="title-icons_item">
            <div class="icon">
               <i class="lnr lnr-spell-check"></i>
            </div>
            <div class="content">
               <h3 class="h3">Support</h3>
               <p>Take ownership for results. We'll do what it takes to get things done and are very serious about our commitments.</p>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- END Section -->
<!-- START Section -->
<section class="blue-section">
   <div class="container">
      <h1 class="h1 text-center">The Team</h1>
      <p>Our work ethic centers around the core values of accountability, integrity, mastery, service, and transparency. Our team is located around the globe and we all enjoy working together virtually via Skype on an everyday basis, as well as in-person at our various conferences that and at our annual company meeting.
         We are all passionate about what we are doing and we would love to work with you.
      </p>
      <a class="btn btn-outline-white" href="">Join to our team</a>
   </div>
</section>
<!-- END Section -->
<!-- START Section -->
<div class="container">
   <section class="text-center">
      <h1 class="h1">Top 5 reasons why you would like to work at C4Media</h1>
      <div class="steps">
         <span class="line-horizontal"></span>
         <div class="steps_item">
            <span>1</span>
            <p>We are fostering software innovation and software is changing the world. How great would it be to be part of that?</p>
         </div>
         <div class="steps_item">
            <span>2</span>
            <p>Great culture: people at C4Media are humble, friendly, and very responsible. Our full time team includes people from Brazil, Romania, Canada, France, Greece, China, US, United Kingdom</p>
         </div>
         <div class="steps_item">
            <span>3</span>
            <p>Be part of a leading fast growing international company.</p>
         </div>
         <div class="steps_item">
            <span>4</span>
            <p>Work from home / flexible work hours due to the globally distributed nature of the team, we don't demand a rigid daily schedule.</p>
         </div>
         <div class="steps_item">
            <span>5</span>
            <p>Travel: Every year there is an all-hands company meeting in a cool place. Previous meetings: Czech Republic (Prague), China, Spain, Ireland, Portugal.</p>
         </div>
      </div>
   </section>
</div>
<!-- END Section -->
<!-- START Back button -->
<a href="/" class="back"><i class="lnr lnr-arrow-left"></i></a>
<!-- END  Back button  -->
<!-- START footer component -->
<app-footer-component></app-footer-component>
<!-- END footer component -->
