<!-- The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    I am Mile, fear me!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Good tutorials: </h2>
<ul>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Angular</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://valor-software.com/ngx-bootstrap/?gclid=Cj0KCQiAvebhBRD5ARIsAIQUmnn_w4ZcuFaWKBqW3CLLevHpW8WocFX45aFQH_UbBcZIH55W3KzRu1AaAgsTEALw_wcB#/documentation#getting-started">Ngx bootstrap</a>
    </h2>
  </li>
</ul>
<br>
<some-component></some-component>
<br>
<h3><a [routerLink]="['/test/meh']">Click Me, I'm a router thingy!</a></h3>
<h4>Whatch the route change as the new module is being lazy-loaded</h4> -->
<router-outlet></router-outlet>
