.list-jobs{
  padding: 20px;
  text-align: left;
}
.list-jobs_item{
  border-bottom: 1px solid #e8e8e8;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  vertical-align: middle;
  align-content: center;
align-items: center;
justify-content: space-between;
  	@media only screen and (max-width: 400px) {
      display: block;

    }
.h3{
  	@media only screen and (max-width: 768px) {
      font-size: 18px;
      margin-bottom: 10px;
    }
}
.btn{
  float: right;
  @media only screen and (max-width: 400px) {
    float: none;
    margin-top: 20px;

  }
}
}
