.link_pannel {
	padding: 40px 20px;
	background: white;
	margin-top: 60px;
	display: flex;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.04);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.04);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.04);
	@media only screen and (max-width: 1024px) {
		display: block;
	}
	@media only screen and (max-width: 500px) {
		display: inline-block;
		margin-top: 20px;
		padding: 20px;
		padding-top: 0;
		padding-bottom: 0;
	}
}

.link_pannel .link_pannel--item:last-child {
	border: 0;
}

.link_pannel .link_pannel--item:nth-child(2) {
	@media only screen and (max-width: 1024px) {
		border-right:0;
	}
}

.link_pannel .link_pannel--item:nth-child(3) {
	@media only screen and (max-width: 1024px) {
		border-bottom:0;
	}
	@media only screen and (max-width: 500px) {
		border-bottom: 1px solid #e1e1e1;
	}
}

.link_pannel--item {
	flex: 1;
	text-align: center;
	padding: 20px;
	display: inline-block;
	text-decoration: none;
	border-right: 1px solid #e1e1e1;
	min-width: 190px;
	@media only screen and (max-width: 1024px) {
		width: 50%;
		border-bottom: 1px solid #e1e1e1;
	}
	@media only screen and (max-width: 500px) {
		border-right: 0;
		width: 100%;
	}
	img {
		display: block;
		margin: 20px auto;
		height: 35px;
		@media only screen and (max-width: 500px) {
			display: block;
			margin: 11px auto;
			height: 30px;
		}
	}
	span {
		font-weight: 500;
		color: black;
		font-size: 16px;
		min-height: 43px;
	}
	b {
		font-weight: 400;
		color: #a5a5a5;
		display: block;
		margin-top: 10px;
		font-size: 14px;
		letter-spacing: 1px;
	}
	i {
		font-weight: 400;
		color: #a5a5a5 !important;
		display: block;
		margin-top: 10px;
		font-size: 20px;
	}
	&:hover {
		background-color: #f5f5f5;
		transition: background-color 0.5s ease;
	}
}
