<div class="link_pannel">
   <a href="https://www.infoq.com/about-infoq" target="_blank" class="link_pannel--item">
   <img src="assets/images/InfoQ.svg">
   <span>InfoQ Reader</span>
   <b>learn about InfoQ</b>
   <i class="lnr lnr-arrow-right"></i>
   </a>
   <a href="https://qconferences.com/" target="_blank" class="link_pannel--item">
   <img src="assets/images/qcon.svg">
   <span>QCon Attendee / Speaker</span>
   <b>learn about QCon</b>
   <i class="lnr lnr-arrow-right"></i>
   </a>
   <a href="https://www.infoq.com/about-infoq" target="_blank" class="link_pannel--item">
   <img src="assets/images/icon-file.png">
   <span>QCon Exhibitor / InfoQ Advertiser</span>
   <b>download file</b>
   <i class="lnr lnr-download"></i>
   </a>
   <a [routerLink]="['career']" class="link_pannel--item">
   <img src="assets/images/logo-black.png">
   <span>Careers</span>
   <b>check our jobs</b>
   <i class="lnr lnr-arrow-right"></i>
   </a>
</div>
