footer {
    position: relative;
    z-index: 1;
	}
	.footer_top_header_one  {
    background-color: #f5f7f8;
    color: black;
}
.section_padding_100_70 {
  padding-top: 73px;
padding-bottom: 26px;
}
.footer_top_header_one  {
    color: black;
}.footer_part {
    margin-bottom: 10px;
}
.footer_top_header_one  .footer_part > h5 {
    color: black;
}
.footer_part h5 {
    margin-bottom: 30px;
}
.footer_single_contact_info > p, .footer_single_contact_info > h5, .footer_blog_area > a, .footer_top_header_one  .footer_part > p {
    color: black;
    font-size: 14px;
}
p, ul li {
    font-weight: 300;
}
ul {
    margin: 0;
    padding: 0;
}
.footer_bottom_header_one {
  background: white;
  border-top: 1px solid #f2f2f2;

    font-size: 12px;
}
.section_padding_15 {
    padding: 15px 0;
}
.footer_bottom_header_one p {
    color: black;
    margin: 0;
    font-size: 12px;
    a{
      font-size: 12px;
    }
}
p, ul li {
    font-weight: 300;
}
.footer_bottom_header_one a {
    color: inherit;
    font-size: 14px;
}
a, h3, h4, h5 {
    font-weight: 400;
}
.m-top-15 {
    margin-top: 15px;
}
ul {
    margin: 0;
    padding: 0;
}

.footer_widget > li {
    display: inline-block;
}
p, ul li {
    font-weight: 300;
}
ul li {
    list-style: outside none none;
}
.footer_widget a {
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    color: #888;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 6px;
    padding: 7px 12px;
    margin-right: 6px;
}
ul {
    margin: 0;
    padding: 0;
}
.footer_links a {
    border-bottom: 1px solid #e6e6e6;
    color: black;
    display: block;
    font-size: 13px;
    margin-bottom: 6px;
    padding-bottom: 10px;
}
.footer_links a {
    color: black;
    font-size: 13px;
}
.footer_top_header_one  .footer_part > h5 {
    color: black;
}
.footer_part h5 {
    margin-bottom: 30px;
}
.footer_social_links > li {
    display: inline-block;
}
p, ul li {
    font-weight: 300;
}
.footer_social_links a {
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    color: #888;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 6px;
    padding: 7px 12px;
    margin-right: 6px;
}
.footer_blog_area .footer_date {
    color: #656565;
    font-size: 13px;
    margin-bottom: 5px;
}
.footer_blog_area > p {
    color: black;
    line-height: 1.3;
    margin-bottom: 0;
        font-size: 12px;
}
.footer_works > a {
    display: inline-block;

    position: relative;
    width: 100px;
    z-index: 1;
    padding-right: 10px;
}
.footer_thumb {
    left: 0;
    position: absolute;
    top: 0;
    width: 75px;
}
.footer_links a i {
    padding-right: 10px;
}
  /* :: 18.0 Footer Area CSS */
.footer_blog_area {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 15px;
    padding: 0 0 15px 90px;
    position: relative;
    z-index: 1;
}
.footer_links a {
    border-bottom: 1px solid #e6e6e6;
    color: black;
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.footer-all{
  display: flex;
  @media only screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
  .footer-all_column{
    width: 25%;
    padding-right: 20px;
    padding-left: 20px;
    		@media only screen and (max-width: 768px) {
          width: 100%;
        }
  }
}


.mb-10{
  margin-bottom: 10px !important;
}

.footer_links li:last-child a{
  border: 0;
}
