<!-- Footer component -->
<footer>
   <div class="footer_top_header_one  section_padding_100_70">
      <div class="container">
         <div class="footer-all">
            <div class="footer-all_column">
               <div class="footer_part">
                  <h5 class="h5">About Us</h5>
                  <p>Our work ethic centers around the core values of accountability, integrity, mastery, service, and transparency. Our team is located around the globe and we all enjoy working together virtually
                     via Skype on an everyday basis, as well as in-person at our various conferences that and at our annual company meeting.
                  </p>
               </div>
            </div>
            <div class="footer-all_column">
               <div class="footer_part">
                  <h5 class="h5">Important Links</h5>
                  <ul class="footer_links">
                     <li><a href="https://www.infoq.com/about-infoq"><i class="lnr lnr-chevron-right" aria-hidden="true"></i>InfoQ</a></li>
                     <li><a href="https://qconferences.com/"><i class="lnr lnr-chevron-right" aria-hidden="true"></i>IteQCon Attendee / Speakerm</a></li>
                     <li><a href="/src/assets/files/TheInfoQeMag-QCon.pdf"><i class="lnr lnr-chevron-right" aria-hidden="true"></i>QCon Exhibitor / InfoQ Advertiser</a></li>
                     <li><a href="/career"><i class="lnr lnr-chevron-right" aria-hidden="true"></i>Career</a></li>
                     <li><a href="https://www.infoq.com/privacy-notice"><i class="lnr lnr-chevron-right" aria-hidden="true"></i>Privacy Notice</a></li>
                     <li><a href="https://www.infoq.com/terms-and-conditions"><i class="lnr lnr-chevron-right" aria-hidden="true"></i>Terms and condition</a></li>
                  </ul>
               </div>
            </div>
            <div class="footer-all_column">
               <div class="footer_part">
                  <h5 class="h5">Quick Contact</h5>
                  <div class="footer_single_contact_info">
                     <h5 class="h5 mb-10">Phone:</h5>
                     <p>+1 000 00 00 00 <br> +1 000 00 00 00</p>
                  </div>
                  <div class="footer_single_contact_info">
                     <h5 class="h5 mb-10">Email:</h5>
                     <p>careers@c4media.com <br> sponsors@cn.infoq.com</p>
                  </div>
               </div>
            </div>
            <div class="footer-all_column">
               <div class="footer_part">
                  <h5 class="h5">Homepage panel</h5>
                  <div class="footer_works">
                     <a class="footer_works_img" href="https://www.infoq.com/about-infoq"><img src="assets/images/InfoQ.svg" alt="C4Media"></a><br><br>
                     <a class="footer_works_img" href="https://qconferences.com"><img src="assets/images/qcon.svg" alt="C4Media"></a><br><br>
                     <a class="footer_works_img" href="/src/assets/files/TheInfoQeMag-QCon.pdf"><img src="assets/images/icon-file.png" alt="C4Media"></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Footer Bottom Area Start -->
   <div class="footer_bottom_header_one section_padding_15 text-center">
      <div class="container">
         <div class="row">
            <p>InfoQ.com and all content copyright © 2006-2019 C4Media Inc.</p>
         </div>
      </div>
   </div>
</footer>
